* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

#banner {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 30px;
}

button.navbar-toggle {
    color: #adbfe9;
}

.navbar {
    position: relative;
    min-width: 604px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-inverse {
    background-color: #2d4e9e;
    margin-top: 0px;
    border-color: #2d4e9e;
}

nav.navbar.navbar-inverse.navbar {
    background-color: #2d4e9e;
}

.email{
    background-color: #2d4e9e;
    height: 30px;
}

.email a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

#links-menu {
    list-style: none;
    background-color: #2d4e9e;
    float: left;
    width: 80%;
    height: 20%;
    padding: 5px;
    border-top: 1px solid #adbfe9;
    margin: 25px 0px 0px 0px;
}

#links-menu li {
    position: relative;
    float: left;
}

#links-menu li a {
    color: #adbfe9;
    text-decoration: none;
    text-align: center;
    padding: 5px 8px;
    display: block;
    float: center;
    font-size: 18px;
}

#links-menu li a:hover {
    background: #2d4e9e;
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
}

#links-menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}

#links-menu li:hover ul,
#links-menu li.over ul {
    display: block;
}

#links-menu li ul li {
    border: 1px solid #fff;
    display: block;
    width: 170px;
}

#carroselhome {
     background-image: url("img/BrazilSigns_fundo-01.png");
     background-color: rgb(194, 217, 247, 0.1);
     background-repeat: no-repeat;
     width: 1265px;
     height: 500px;
}

#inf1 {
    margin-top: 360px;
    margin-left: 100px;
    margin-right: 100px;
}

#inf1 h1 {
    color: #2d4e9e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#rodape {
    background: #2d4e9e;
    margin-top: 700px;
}

#rodape h3 {
    color: #fff;
}

#rodape h4 {
    color: #fff;
}